# Node modules
/node_modules

# Compilation output
/dist
/artifacts
/cache

# Hardhat Ignition deployments
/ignition/deployments

# pnpm deploy output
/bundle

# Typechain output
/types

# Environment files
.env
.env.*
!.env.example
